.navbar {
  background-color: #0b0b1c;
  filter: blur(1px);
  color: white;
  height: 64px;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}
.logo {
  height: 100px;
  width: 200px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
