body {
  margin: 0;
  font-family: Helvetica Now Text;
  background-image: url(https://img.freepik.com/free-vector/copy-space-blue-circuits-digital-background_23-2148821699.jpg?w=996&t=st=1689284004~exp=1689284604~hmac=5e0ed318dc373f10204b51a29ddaa2d3039b69799a3b8814a121ecab229c2ebd);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  overflow: hidden;
}

code {
  font-family: Helvetica Now Text;
}
